body {
    background-color: black;
    color: white;
    font-family: monospace;
}

a, a:visited {
    color: white;
}

.ml-2 {
    margin-left: 2em;
}

.ml-4 {
    margin-left: 4em;
}

.mt-4 {
    margin-top: 4em;
}

.button {
    color: white;
    border: 1px solid white;
    transition: all .3s ease;
}

.button:hover {
    color: black;
    border: 1px solid white;
    background-color: white;
    transition: all .3s ease;
}

.button-secondary {
    color: black;
    background-color: white;
    border: 1px solid white;
    transition: all .3s ease;
}

.button-secondary:hover {
    color: white;
    border: 1px solid red;
    background-color: red;
    transition: all .3s ease;
}

ul {
    list-style: circle;
}

.container-wide {
    max-width: 90%;
    margin-left: 3em;
    margin-right: 3em;
}

.artworkLink img {
    border-radius: 2px;
    margin: 1em;
}

.artworkLink {
    text-decoration: none;
}

.artworkDescription {
    margin-top: 1em;
}

hr {
    margin-top: 0;
}

input[type="text"] {
    color: black;
}

.walletAddress {
    overflow-wrap: anywhere;
    user-select: all;
}

.button-primary {
    background-color: #ff6600 !important;
    border: 1px solid #ff6600 !important;
    transition: all .3s ease;
}

.button-primary:hover {
    background-color: #4c4c4c !important;
    color: white !important;
    border: 1px solid #4c4c4c !important;
    transition: all .3s ease;
}

.no-margin {
    margin: 0;
}

.navbar + .docs-section {
    border-top-width: 0; 
}

.navbar {
    margin-bottom: 2em;
}

.navbar, .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    z-index: 99;
}

.navbar-spacer {
    display: none; 
}

.navbar > .container {
    width: 100%; 
}

.navbar-list {
    list-style: none;
    margin-bottom: 0; 
}

.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; 
}

.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #fff;
    transition: all .2s ease;
}

.navbar-link:hover {
    color: #ff6600;
    transition: all .2s ease;
}

.navbar-link.active {
    color: #33C3F0; 
}

.has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; 
}

.has-docked-nav .navbar-spacer {
    display: block; 
}

/* Re-overiding the width 100% declaration to match size of % based container */
.has-docked-nav .navbar > .container {
    width: 80%; 
}
