<head>
  <title>{{ config.SITE_NAME }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/png">
  <meta itemprop="name" content="MyThing app">
  <meta itemprop="description" content="This is a sample application making using of Flask, a Flask replacement for Python">
  <meta itemprop="image" content="">
  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:description" content="This is a sample application making using of Flask, a Flask replacement for Python">
  <meta property="og:image" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="This is a sample application making using of Flask, a Flask replacement for Python">
  <meta name="twitter:image" content="">
  <meta name="keywords" content="Wownero, Monero, crypto, swap">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/main.css">
</head>
