{% extends 'includes/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="one-half column">
            <h1>create</h1>
            <p>Upload new artwork for the community. Please limit submissions to Monero-Chan (and Wownero-Chan) content only. Please tag NSFW appropriately.</p>
            <form method="post" action="" enctype="multipart/form-data">
                {% for f in form %}
                    {% if f.name == 'csrf_token' %}
                        {{ f }}
                    {% else %}
                        {{ f.label }}
                        {{ f }}
                    {% endif %}
                {% endfor %}
                <ul>
                {%- for field, errors in form.errors.items() %}
                    <li>{{ form[field].label }}: {{ ', '.join(errors) }}</li>
                {%- endfor %}
                </ul>
                <input type="submit" value="Submit" class="button-primary">
            </form>
        </div>
	</div>
</div>

{% endblock %}




