{% extends 'includes/base.html' %}

{% block content %}

{% set img = url_for('main.uploaded_file', filename=artwork.image) %}
<div class="container">
    <div class="row">
		<h2 class="no-margin"><strong>{{ artwork.title }}</strong></h2>
		<span>
			{% if artwork.nsfw %}
			<p class="inline nsfw">NSFW</p>
			{% endif %}
			<h6 class="no-margin inline">
				posted by <a href="{{ url_for('user.show', handle=artwork.user.handle) }}">{{ artwork.user.handle }}</a> - {{ artwork.upload_date | humanize }}
			</h6>
		</span>
		<p class="artworkDescription">{{ artwork.description }}</p>
		<div class="row">
			{% if current_user.is_authenticated and current_user.is_admin %}
				<a href="{{ url_for('artwork.manage', id=artwork.id, action='regenerate_thumbnail') }}"><button class="button">Regen Thumbnail</button></a>
				<a href="{{ url_for('artwork.manage', id=artwork.id, action='toggle_nsfw') }}"><button class="button">Toggle NSFW</button></a>
			{% endif %}
			{% if not artwork.approved %}
				{% if artwork.hidden %}
					<a href="{{ url_for('artwork.manage', id=artwork.id, action='delete') }}"><button class="button-secondary">Delete</button></a>
				{% else %}
					<a href="{{ url_for('artwork.manage', id=artwork.id, action='reject') }}"><button class="button-secondary">Reject</button></a>
				{% endif %}
				<a href="{{ url_for('artwork.manage', id=artwork.id, action='approve') }}"><button class="button-primary">Approve</button></a>
			{% endif %}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="column one-half">
			<a href="{{ img }}">
				{% if artwork.is_video %}
					<video controls autoplay loop preload disablepictureinpicture muted playsinline width="100%">
						<source src="{{ img }}" type="video/{{ artwork.image.split('.')[-1]}}">
					</video>
				{% else %}
					<img src="{{ img }}" width="100%">
				{% endif %}
			</a>
		</div>
		<div class="column one-half">
			<h5>Send a Tip</h5>
			<p class="walletAddress">{{ artwork.user.wallet_address }}</p>
			<form method="post">
				{{ form.csrf_token }}
				<div class="row">
					<div class="six columns">
						{{ form.tx_id.label }}
						{{ form.tx_id }}
					</div>
					<div class="six columns">
						{{ form.tx_key.label }}
						{{ form.tx_key }}
					</div>
				</div>
				<input class="button-primary" type="submit" value="Submit">
			</form>
			{% if txes_pending %}
				<h6>{{ txes_pending }} tips pending</h6>
			{% endif %}
			{% if txes %}
				<table class="u-full-width">
					<thead>
					<tr>
						<th>TXID</th>
						<th>XMR</th>
						<th>Date</th>
					</tr>
					</thead>
					<tbody>
						{% for tx in txes %}
							<tr>
								<td><a href="{{ tx.tx_id | xmr_block_explorer }}" target="_blank">{{ tx.tx_id | shorten }}</a></td>
								<td>{{ tx.atomic_xmr | atomic }}</td>
								<td>{{ tx.tx_date | humanize }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<p>Total Received: <strong>{{ total | atomic }} XMR</strong></p>
			{% else %}
				<p>No tips confirmed yet...</p>
			{% endif %}
		</div>
	</div>
</div>


{% endblock %}
