{% extends 'includes/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
		<h1>artworks</h1>
		{% if feed['artwork'] %}
		{%- for _artwork in feed['artwork'] | batch(4) %}
			{%- for artwork in _artwork %}
				<a class="artworkLink" href="{{ url_for('artwork.show', id=artwork.id) }}">
					<img src="{{ url_for('main.uploaded_file', filename=artwork.thumbnail) }}" width="150px">
				</a>
			{%- endfor %}
		{%- endfor %}
		<p class="mt-4"><a href="{{ url_for('artwork.list') }}">...view all</a></p>
		{% else %}
		<p>There's nothing here yet...</p>
		{% endif %}
	</div>
	<div class="row">
		<h1>artists</h1>
		{% if feed['users'] %}
		{% for user in feed['users'] %}
			<p><a href="{{ url_for('user.show', handle=user.handle) }}">{{ user.handle }}</a></p>
		{% endfor %}
		<p class="mt-4"><a href="{{ url_for('user.list') }}">...view all</a></p>
		{% else %}
		<p>There's nothing here yet...</p>
		{% endif %}
	</div>
	<div class="row">
		<h1>tips</h1>
		{% if feed['tips'] %}
		<table class="u-full-width">
			<thead>
			<tr>
				<th>TXID</th>
				<th>XMR</th>
				<th>Artwork</th>
				<th>Artist</th>
				<th>Date</th>
			</tr>
			</thead>
			<tbody>
				{% for tx in feed['tips'] %}
					<tr>
						<td><a href="{{ tx.tx_id | xmr_block_explorer }}" target="_blank">{{ tx.tx_id | shorten }}</a></td>
						<td>{{ tx.atomic_xmr | atomic }}</td>
						<td><a href="{{ url_for('artwork.show', id=tx.artwork.id) }}">{{ tx.artwork.id }}</a></td>
						<td><a href="{{ url_for('user.show', handle=tx.artwork.user.handle) }}">{{ tx.artwork.user.handle }}</a></td>
						<td>{{ tx.tx_date | humanize }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<p class="mt-4"><a href="{{ url_for('main.tips') }}">...view all</a></p>
		{% else %}
		<p>There's nothing here yet...</p>
		{% endif %}
	</div>
</div>

{% endblock %}
