{% extends 'includes/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
		<h1>artworks</h1>
		{% if feed['artwork'] %}
		{%- for _artwork in feed['artwork'] | batch(4) %}
			{%- for artwork in _artwork %}
				<a class="artworkLink" href="{{ url_for('artwork.show', id=artwork.id) }}">
					<img src="{{ url_for('main.uploaded_file', filename=artwork.thumbnail) }}" width="150px">
				</a>
			{%- endfor %}
		{%- endfor %}
		<p><a href="{{ url_for('artwork.list') }}">...view all</a></p>
		{% else %}
		<p>There's nothing here yet...</p>
		{% endif %}
	</div>
	<div class="row">
		<h1>artists</h1>
		{% if feed['users'] %}
		{% for user in feed['users'] %}
			<p><a href="{{ url_for('user.show', handle=user.handle) }}">{{ user.handle }}</a></p>
		{% endfor %}
		{% else %}
		<p>There's nothing here yet...</p>
		{% endif %}
	</div>
</div>

{% if current_user.is_authenticated %}
	<p>logged in: {{ current_user.handle }}</p>
{% endif %}


{% endblock %}
