{% extends 'includes/base.html' %}

{% block content %}

<div class="container">
  <div class="row">
		<h2 class="no-margin"><strong>{{ user.handle }}</strong></h2>
		<span class="">
            {% if user.is_admin %}
                <p class="inline nsfw">ADMIN</p>
            {% endif %}
            {% if user.is_verified %}
                <p class="inline nsfw">VERIFIED</p>
            {% endif %}
            <p class="no-margin inline">
                registered {{ user.register_date | humanize }}
            </p>
		</span>
        <br />
        <br />
        {% if user.website %}
            <p class="inline no-margin"><a href="{{ user.website }}" target="_blank"><img src="/static/images/website.svg" width=20px></a></p>
        {% endif %}
        {% if user.twitter_handle %}
            <p class="inline no-margin"><a href="https://twitter.com/{{ user.twitter_handle }}" target="_blank"><img src="/static/images/twitter.svg" width=20px></a></p>
        {% endif %}
        {% if user.email %}
            <p class="inline no-margin"><a href="mailto:{{ user.email }}" target="_blank"><img src="/static/images/email.svg" width=20px></a></p>
        {% endif %}
        {% if user.bio %}
            <p class="mt-1">{{ user.bio }}</p>
        {% endif %}
        <h6 class="walletAddress mt-1">{{ user.wallet_address }}</h6>
    </div>
	<hr>
	<div class="row">
		<h1>artworks</h1>
		{% if artwork %}
            {%- for _artwork in artwork | batch(4) %}
                {%- for artwork in _artwork %}
                    <a class="artworkLink" href="{{ url_for('artwork.show', id=artwork.id) }}">
                        <img src="{{ url_for('main.uploaded_file', filename=artwork.thumbnail) }}" width="150px">
                    </a>
                {%- endfor %}
            {%- endfor %}
		{% else %}
		    <p>There's nothing here yet...</p>
		{% endif %}
    </div>
    {% if artwork %}
        <div class="row mt-4">
            <span class="inline">
                {% for i in range(1, total_pages + 1) %}
                    <h6 class="inline">
                        {% if i == page %}
                            {{ page }}
                        {% else %}
                            <a href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    </h6>
                {% endfor %}
            </span>
        </div>
    {% endif %}
</div>

{% endblock %}
