{% extends 'includes/base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <h1>artists</h1>
    <p>
      Verified artists will skip the queue <br />
      and have their artwork displayed immediately. 
    </p>
    <form method="post" action="">
      {{ artist_form.csrf_token }}
      <div class="row">
        <div class="two columns">
          {{ artist_form.handle }}
        </div>
        <div class="two columns">
          <input class="button-primary" type="submit" value="Submit">
        </div>
      </div>
      <ul>
        {%- for field, errors in artist_form.errors.items() %}
          <li>{{ ', '.join(errors) }}</li>
        {%- endfor %}
      </ul>
    </form>
    <ul>
      {% for artist in artists %}
        <li><h6>{{ artist.handle }} - <a href="?unverify={{ artist.handle }}">remove</a></h6></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
